h1{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
}
#foo, #bar{
    color: grey;
}
.baz{
    color: hotpink;
}
.images{
    border: 2px palevioletred;
}
p{
    background-color: olive;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
div{
    border: 1px solid grey;
    background-color: orange;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
}